html {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    padding-top: 4.375rem;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: #009688;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 15px;
    margin: 8px auto;
    max-width: fit-content;
}

.navbar a {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.navbar a:hover, .navbar a.active {
    background-color: #00796B;
    color: #fff;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.name-position-container {
    margin-top: -20vh;
}

h1, .title {
    margin: 0;
    color: #009688;
}

h1 {
    font-size: 4em;
}

.title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.scroll-arrow {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
    width: 50px;
    height: 50px;
}

section {
    padding: 40px 20px;
    border-top: 4px solid #009688;
}

#education {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: stretch;
}

.education-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 5px;
    flex-basis: calc(33% - 30px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    display: block;
}

.education-card img {
    max-width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.education-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.degree {
    font-weight: bold;
    margin-top: auto;
}

.details {
    margin-top: auto;
}

.education-card ul {
    font-size: 0.9em;
    color: #666;
    list-style-type: none;
    padding: 0;
    margin-top: auto;
}

.education-card ul li::before {
    content: '•';
    color: #009688;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.resume-button {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    border-radius: 10px;
    background-color: #009688;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    padding: 12px 24px;
    font-size: 1.2em;
}

.resume-button:hover {
    background-color: #00796B;
}

body {
    padding-top: 70px;
}

#experience {
    background-color: #fff;
    padding: 40px 20px;
}

.work-experience-entry {
    margin-bottom: 30px;
    border-left: 4px solid #009688;
    padding-left: 15px;
}

.work-experience-entry h3 {
    font-size: 1.5em;
    color: #009688;
    margin-top: 0;
}

.experience-dates {
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
}

.work-experience-entry p {
    font-size: 1em;
    margin-top: 0;
    color: #333;
}

#skills {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

#skills h2 {
    margin-bottom: 20px;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill-tag {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3;
}

.skill-tag:hover {
    background-color: #009688;
    color: #fff;
}

.skill-tooltip {
    visibility: hidden;
    opacity: 0;
    width: auto;
    background-color: #009688;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: opacity 0.3s;
}

.skill-tag:hover .skill-tooltip {
    visibility: visible;
    opacity: 1;
}

.education-entry {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

#education-section {
    padding: 20px;
}

.work-experience-entry {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.experience-dates {
    font-style: italic;
    margin-bottom: 10px;
}

#experience {
    padding: 20px;
}

.about-me-entry {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.about-me-entry img.about-image {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
    border-radius: 4px;
}

#about {
    padding: 20px;
}

#footer footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#footer .social-links {
    margin-bottom: 20px;
}

#footer .social-links a {
    display: inline-block;
    margin: 0 10px;
}

#footer .social-links img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

#footer p {
    margin: 0;
    font-size: 0.8em;
}

#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#contact iframe{
    border: 0;
}

@media (max-width: 768px) {
    
    *, *:before, *:after {
        box-sizing: border-box;
        max-width: 100%;
    }

    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    .navbar a {
        padding: 8px 12px;
        margin: 5px;
        text-align: center;
    }

    .main-content, .education-container, .skills-wrapper {
        flex-direction: column;
    }


    h1 {
        font-size: 2.5em;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    
    .name-position-container {
        margin-top: -20px;
        padding-top: 0;
    }

    .resume-button {
        padding: 10px 15px;
        margin-top: 0;
        margin-bottom: 10px;
        width: auto;
        max-width: 90%;
        box-sizing: border-box;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .education-card, .work-experience-entry, .about-me-entry {
        flex-basis: 100%;
    }

    .education-card img, .about-me-entry img.about-image {
        width: 100%;
        height: auto;
    }

    .navbar a {
        padding: 8px 12px;
        display: block;
        width: auto;
        margin: 10px auto;
    }

    body {
        padding-top: 60px;
    }

    .scroll-arrow {
        width: 40px;
        height: 40px;
    }
}
